.tbgLoginL{
    background-image: url('../../assets/teacherLogin.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.bgLoginR{
    background-image: url('../../assets/bgpic1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}