.hero-container {
  padding: 50px 0;
  background: linear-gradient(to bottom, #aedbf5, #ffffff);


}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  align-items: center;
  font-size: 4.5rem;
  font-weight: bold;
  color: #1188e3;
  
}

.description {
  font-size: 1.1rem;
  color: #555;
  margin: 20px 0;
  
}

.hero-buttons-container {
  margin-top: 20px;
  
}

.hero-buttons-container .btn {
  margin-right: 10px;
  background-color: #1188e3; 
  
  color: #fff;
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-buttons-container .btn:hover {
  background-color: #31b0d5; /* Darker blue on hover */
  transform: scale(1.05); /* Slight scale up on hover */
}

.hero-image-container {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
  
  
}

.teacher-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.modal-content .btn {
  margin: 10px;
}
/* Dark mode styling for hero section */
body.dark-mode .hero-container {
  background-color: #1c1e22; /* Dark background for hero section */
}

body.dark-mode .welcome {
  color: #28a745; /* White text for dark mode */
}

body.dark-mode .description {
  color: #d1d1d1; /* Lighter text for better readability */
}

body.dark-mode .hero-buttons-container .btn {
  background-color: #28a745;/* Bootstrap primary color */
  border: 2px solid #28a745; /* Darker blue for contrast */
  color: #fff; /* White text */
}


body.dark-mode .modal-content {
  background-color: #343a40; /* Dark background for modal */
  color: #ffffff; /* White text for modal */
}

body.dark-mode .modal-content .btn {
  background-color: #28a745; /* Success color */
  color: #fff; /* White text */
}

body.dark-mode .modal-content .btn:hover {
  background-color: #218838; /* Darker green on hover */
}
body.dark-mode .hero-container {
  background: linear-gradient(to bottom, #000000, #000000); /* Green to black gradient */
}