/* General Styles */
.videos-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
  }
  
  .dark-mode .videos-section {
    background-color: #333;
    color: white;
  }
  
  /* Video container */
  .video-container {
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .video-container:hover {
    transform: scale(1.05);
  }
  
  /* Video titles */
  h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    transition: color 0.3s;
  }
  
  .dark-mode h5 {
    color: #f4f4f4;
  }
  
  /* Descriptions */
  .video-description {
    font-size: 16px;
    margin: 10px 0;
    transition: color 0.3s;
  }
  
  .dark-mode .video-description {
    color: #ddd;
  }
  
  /* Buttons */
  .go-channel-btn {
    background-color: #007bff !important;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s;
  }
  
  .go-channel-btn:hover {
    background-color: #0056b3 !important;
    transform: translateY(-3px);
  }
  
  .dark-mode .go-channel-btn {
    background-color: #28a745;
  }
  
  .dark-mode .go-channel-btn:hover {
    background-color: #218838;
  }
  